 
.popup-modal{

  .popup-modal-box{

    .modal-text{
          display: flex;
          justify-content: flex-end;
          align-items:center;
      h3{
        width: 430px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
      }
      button{
         width: 40px;
         height: 40px;
        
         line-height: 25px;
         border: none;
         background: #e4e6eb;
         border-radius: 50%;
         padding: 2px;
         font-size: 25px;

      }
    }
  }
}

// banner css   
.banner{

  .banner-container{

    .banner-row{ 

      .banner-left-side{


        .left-box{
            display: flex;
            gap: 10px;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 0px;
           
            img{

            }
            h3{
              margin-top: 8px;
              font-size: 15px;
              color: #292929;
            }
        }
      }
      .middle-box{

        .profile-box{
            display: flex;
            gap: 13px;

          .profile-img-box{
            box-shadow: var(--fb-sec-shadow);
            width: 150px;
            background-color: #fff;
            position: relative;
            border-radius: 10px;

            img{
              border-radius: 10px 10px 0px 0px;
            }
            .img-plus{
                background-color: var(--fb-primary-color);
                color: #fff;
                width: 35px;
                height: 35px;
                line-height: 28px;
                text-align: center;
                border-radius: 50%;
                margin: 0px auto;
                position: relative;
                top: -17px;
                border: 4px solid rgb(255, 255, 255);
            }
            .story{
               text-align: center;
               font-size: 14px;
               color: #000000;
              
               font-weight: 500;
            }
           

          }
          .profile-img-box-aa{
            box-shadow: var(--fb-sec-shadow);
            width: 150px;
            background-color: #fff;
            position: relative;
            border-radius: 10px;

            .detail-img{
              height: 275px;
              width: 150px;
              border-radius: 10px;

            }
            .photo-ff{
               position: absolute;
               top: 20px;
               left: 20px;
               border: 4px solid #075ce5;
               border-radius: 50% !important;
             
            }
            .story-text{
              text-align: center;
              font-size: 14px;
              color: #ffffff;
              position: absolute;
              bottom: -5px;
              left: 20px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

// post box 
.post-box{

  .post-box-card{

    .post-box-body{

     .img-input{
         display: flex;
         gap: 10px;
         align-items: center;

      img{



      }
      input{
         border-radius: 25px;
         background-color: #f0f2f5;
         border: none;
      }
     } 
     .live-box{
       
      .icon-image{

        ul{
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: space-evenly;

          li{
           display: flex;
           gap: 7px;
           justify-content: center;
           padding: 0px 10px;
           width: 190px;
           border-radius: 5px;
           
           &:hover{
            background-color: #f2f2f2;
           }
           

            span{
             font-size: 25px;
            
            }
            .live-video{
              color: red;
            }
             .photo-video{
              color: #41b35d;
             }
             .sad-video{
               color: #f7b928;
             }

            p{
              font-size: 15px;
              margin-top: 10px;
              color: 
              #65676B;
            }
          }
        }
      }
     }
    }
  }
}

// single view image content 

.author-box{

  .author-header{

    .auth-box-body{


       .header-content-data{
           display: flex;
           justify-content: space-between;

        .author-image-box{
          display: flex;
          justify-content: space-between;
          gap: 10px;
          

        img{

        }
        .content-box{
             padding: 0px;
          h2{
            font-size: 15px; 
            color: #050505;

          }
          p{
             font-size: 13px;
            span{

            }
          }
        }
        }
        .author-close{
               display: flex;
               gap: 15px;
               align-items: flex-start;
          button{
            border: none;
            background-color: transparent;
            font-size: 22px;
          }
        }
       }
       p{

       }

    }
    img{

    }
    .card-foter{
          display: flex;
          justify-content: space-between;
          padding: 10px 15px;

      .footer-left{

        ul{
         display: flex;
         align-items: center;
         gap: 2px;

         .like-icon{
          color: #075ce5;
         }

         .sad-icon{
          color: #f9d507;
         }
          li{
             font-size: 20px;
             margin-top: -18px;


          }
          p{
            margin-left: 5px;
          }
        }
      }
      .footer-right{
           display: flex;
           gap: 10px;

        p{
          color: #050505;
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
    .abcddeff{
      height: 1px;
      width: 96%;
      margin: auto;
      background-color: #dedede;
    }
    
    .like-comment-share{
         margin-top: 10px;
         padding-bottom: 10px;
        

      ul{
         display: flex;
         justify-content: space-around;
         align-items: center;

        li{
          padding: 5px 20px;
          width: 170px;
          border-radius: 5px;
          display: flex;
          gap: 4px;
          align-items: center;

          &:hover{
            background-color: #f2f2f2;
           }
          span{
             font-size: 20px;
          }
          &:last-child{
            width: 80px;
          }

        }

      }
    }

  }
}

// right side ber css 
.banner{

  .banner-container{

    .banner-row{

      .fb-right-sideBar{
      
        .pages-profile{
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              margin-bottom: 5px;


          h5{
            font-size: 16px;
            font-weight: 600;
            color: #65676B;
          }
          span{

          }
          .contact-abc-search{
            display: flex;
            gap: 10px;
            font-size: 20px;
          }
        }
        hr{
          padding: 10px 0px;
          margin: 0px;
        }
        .friend-request{
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 padding-bottom: 10px;
          h6{
             font-size: 15px;
             font-weight: 600;
             color: #65676B;

             &:last-child{
              color: #075ce5;
             }
          }

        }
        .confirm-box{
              display: flex;
              justify-content: space-between;
              padding: 10px;
              border-radius: 10px;
              transition: .4s;
              margin-bottom: 10px;

          .confirm-box-left{
               width: 60px;
            img{

            }
          }
          .confirm-box-right{
                  width: 217px;
             
            .right-box-a{
                    display: flex;
                    justify-content: space-between;

              .confirm-abc{

                h6{

                }
                .name-box{
                   display: flex;

                  img{

                  }
                  p{

                  }
                }

              }
              .confirm-def{

                p{

                }
              }
            }
            .right-box-b{
                display: flex;
                justify-content: space-between;

              button{
                width: 105px;

              }
              .delete-btn{
                background-color: #c4c4c4;
                border: none;
                color: #050505;
                font-weight: 500;
              }

            }


          }

          &:hover{
            background-color: #e8e8e8;
          }
        }
        .contact-box-fri{

          .img-view{
            position: relative;
             display: flex;
             gap: 10px;
             padding-bottom: 5px;
             
            img{
                padding: 3px;
                border: 2px solid blue;
            }
            .dot-ab{
              position: absolute;
              left: 27px;
              top: 19px;
              width: 13px;
              height: 13px;
              background-color: #41b35d;
              border: 2px solid #fff;
               border-radius: 50%;
            }
            p{
             margin-top: 5px;
            }

            
          }
        }
      }
    }
  }
}







