:root{
  --fb-primary-color : #1877f2;
  --fb-secondary-color : #42b72a;
  --fb-shadow : 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  --fb-bg-gray :#f4f2ee;
  --fb-border :1px solid #dddfe2;
  --fb-color: #65676B;
  --fb-sec-shadow:  0 2px 4px rgba(154, 154, 154, 0.1), 0 2px 4px rgba(154, 154, 154, 0.1) ;
  --fb-bg: #e4e6eb;
}


*{
  padding: 0px;
  margin: 0px;
  font-family: Poppins;
  box-sizing: border-box;
}

body{
  background-color: var(--fb-bg-gray);
  
}
ul{
  margin: 0px;
  padding: 0px;

}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

input:focus{
  outline: none;
}




